@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { font-family: 'Noto Sans KR', sans-serif; }

*,
*::before,
*::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

:root {
    margin-top: 0 !important;
    font-size: 62.5%; /* 10px */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body { overflow-x: hidden; width: 100%; line-height: 1; font-size: 100%; font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.01rem; }
ol, ul, li { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table { width: 100%; table-layout: fixed; border-collapse: collapse; border-spacing: 0; }
a { color: #000; text-decoration: none; }
em, address { font-style: normal; }
strong { font-weight: 700; }
img { max-width: 100%; vertical-align: top; }

/**********************************************************************************
	FONTS
**********************************************************************************/
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Pretendard/Pretendard-Regular.eot');
    src: url('/fonts/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),     
        url('/fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
        url('/fonts/Pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Pretendard/Pretendard-Medium.eot');
    src: url('/fonts/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),       
        url('/fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
        url('/fonts/Pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Pretendard/Pretendard-Bold.eot');
    src: url('/fonts/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),       
        url('/fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
        url('/fonts/Pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/poppins/Poppins-Regular.eot');
    src: url('/fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),       
        url('/fonts/poppins/Poppins-Regular.woff') format('woff'),
        url('/fonts/poppins/Poppins-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/poppins/Poppins-Medium.eot');
    src: url('/fonts/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),        
        url('/fonts/poppins/Poppins-Medium.woff') format('woff'),
        url('/fonts/poppins/Poppins-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/poppins/Poppins-Bold.eot');
    src: url('/fonts/poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),        
        url('/fonts/poppins/Poppins-Bold.woff') format('woff'),
        url('/fonts/poppins/Poppins-Bold.ttf') format("truetype");
    font-display: swap;
}
